 body {
    margin: 0;
    background-color: #b0b5bc;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  header, .top-aside, .bottom-aside, footer {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    color: white;
    border-radius: 8px;
  }
  header {
    background-color: #991f61;
  }
  .top-aside, .bottom-aside {
    background-color: #267294;
  }
  footer {
    background-color: #d67529;
    margin-bottom: 30px;
  }
  main {
    background-color: #33a079;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
  }
  .column {
    background-color: #ec1e4f;
    color: white;
    width: 140px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    display: block;
  }

  @media (min-width: 800px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 30% 60% 40%;
      margin: 20px;
      gap: 5px;
    }

    header {
      grid-column: 1 / -1;
      width: 100%;
      border-radius: 8px;

    }

    .top-aside {
      width: 100%;
    }

    main {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    .bottom-aside {
      width: 100%;
     
    }

    footer {
      grid-column: 1 / -1;
      width: 100%;
      border-radius: 8px;
    }

    .column {
      align-self: end;
      justify-self: center;
    }

  }


